# Hotel Recommendations by using Multimodal + WatsonX.ai 


In this notebook we are going to create a simple pipeline that given some descriptions of you desire the llm will retrive photos of the hotels and based on the photos will sugest top 5 hotels based on your preferences.


First we will just create some premilinar programs to analize how to build the pipeline

# Step 1 - Data Generation
In this part we are going to build the database that contains the pictures and locations and names of the hotels.

In [2]:
import folium
from IPython.display import display, IFrame

In [3]:
import folium

# Function to create a map with a marker at the given latitude and longitude
def create_map(latitude, longitude):
    # Create a map centered at the given coordinates
    map_ = folium.Map(location=[latitude, longitude], zoom_start=12)
    
    # Add a marker at the specified coordinates
    folium.Marker([latitude, longitude], popup='Location').add_to(map_)
    
    # Save the map to an HTML file
    map_.save('map.html')
    return map_

In [7]:
# Example coordinates (latitude, longitude)
latitude = 37.7749
longitude = -122.4194

# Create and display the map
map_ = create_map(latitude, longitude)
map_

In [20]:
import os
import pandas as pd

# 1. Get the Current Directory
current_directory = os.getcwd()
# 2. Construct the Full Path to the CSV File
csv_file_path = os.path.join(current_directory, 'dataset', 'hotel_info.csv')

In [21]:
# Read the CSV file
df_hotels = pd.read_csv(csv_file_path)

In [22]:
df_hotels

,hotel_id,hotel_name,chain_id,latitude,longitude
0,391,Extended Stay America - Fairbanks - Old Airpor...,72,64.83538,-147.82330
1,392,Hilton Hangzhou Qiandao Lake Resort,3,29.60819,119.07290
2,393,Taj Lands End,-1,19.04391,72.81879
3,395,Cambridge Suites Hotel Sydney,-1,46.13663,-60.19551
4,396,Tamanu Beach,14,-18.84213,-159.78794
...,...,...,...,...,...
49995,24274,Hotel Primus Valencia,-1,39.45768,-0.34541
49996,479422,Villa Nautilus,-1,20.20078,-87.45798
49997,354725,Arena Resort,-1,12.67615,101.30842
49998,292795,Indigo Hotel Restaurant & Bar,-1,6.43197,3.43206
49999,478252,El Gran Escape,-1,21.21011,-86.71790

In [24]:
from geopy.geocoders import Nominatim
geolocator = Nominatim(user_agent="hotels")
location = geolocator.reverse("52.509669, 13.376294")
print(location.address)

11, Potsdamer Platz, Tiergarten, Mitte, Berlin, 10785, Deutschland

In [28]:
import pandas as pd
from geopy.geocoders import Nominatim
from geopy.exc import GeocoderTimedOut
# Initialize the geolocator
geolocator = Nominatim(user_agent="hotels")
def reverse_geocode(lat, lon):
    try:
        location = geolocator.reverse((lat, lon), exactly_one=True)
        if location and location.raw and 'address' in location.raw:
            address = location.raw['address']
            return {
                'city': address.get('city', ''),
                'country': address.get('country', ''),
                'state': address.get('state', ''),
                'county': address.get('county', ''),
                'suburb': address.get('suburb', ''),
                'postcode': address.get('postcode', ''),
                'road': address.get('road', ''),
                'house_number': address.get('house_number', '')
            }
        else:
            return {}
    except GeocoderTimedOut:
        return {}

# Example dataframe
df = df_hotels.head(100)

# Initialize new columns
columns = ['city', 'country', 'state', 'county', 'suburb', 'postcode', 'road', 'house_number']
for col in columns:
    df[col] = ''

C:\Users\rusla\AppData\Local\Temp\ipykernel_17976\582362902.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col] = ''

In [29]:
df.head()

,hotel_id,hotel_name,chain_id,latitude,longitude,city,country,state,county,suburb,postcode,road,house_number
0,391,Extended Stay America - Fairbanks - Old Airpor...,72,64.83538,-147.82330,,,,,,,,
1,392,Hilton Hangzhou Qiandao Lake Resort,3,29.60819,119.07290,,,,,,,,
2,393,Taj Lands End,-1,19.04391,72.81879,,,,,,,,
3,395,Cambridge Suites Hotel Sydney,-1,46.13663,-60.19551,,,,,,,,
4,396,Tamanu Beach,14,-18.84213,-159.78794,,,,,,,,

In [30]:
# Populate the new columns
for index, row in df.iterrows():
    info = reverse_geocode(row['latitude'], row['longitude'])
    for key in info:
        df.at[index, key] = info[key]

In [31]:
df

,hotel_id,hotel_name,chain_id,latitude,longitude,city,country,state,county,suburb,postcode,road,house_number
0,391,Extended Stay America - Fairbanks - Old Airpor...,72,64.83538,-147.82330,Fairbanks,United States,Alaska,Fairbanks North Star,,99709,Old Airport Road,4580
1,392,Hilton Hangzhou Qiandao Lake Resort,3,29.60819,119.07290,淳安县,中国,浙江省,,千岛湖镇,,环湖北路,
2,393,Taj Lands End,-1,19.04391,72.81879,Mumbai Suburban,India,Maharashtra,,Zone 3,400035,Byramji Jeejeebhoy Road,
3,395,Cambridge Suites Hotel Sydney,-1,46.13663,-60.19551,,Canada,Nova Scotia,Cape Breton Regional Municipality,,B1P 5G8,Esplanade,356
4,396,Tamanu Beach,14,-18.84213,-159.78794,,Kūki ʻĀirani,Aitutaki,,,,Main Road,
...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,518,Outrigger Fiji Beach Resort,-1,-18.17764,177.55353,,Viti,Western,Nadroga-Navosa,,,Queens Road,
96,520,Beachfront Hotel,-1,44.29866,-84.73553,,United States,Michigan,Roscommon County,,49629,West Houghton Lake Drive,4761
97,521,Suburban Extended Stay Hotel,-1,37.97763,-87.48288,Evansville,United States,Indiana,Vanderburgh County,,47715,East Indiana Street,5538
98,522,Hotel Ferrari,-1,44.31332,9.32753,,Italia,Liguria,Genova,,16043,Corso Vincenzo De Michiel,57
99,523,Best Western Grand Manor Inn,0,44.08262,-123.03996,Springfield,United States,Oregon,Lane County,,97477,Kruse Way,980

In [1]:
#df.to_csv('geocoded_hotels.csv', index=False)
import pandas as pd

In [2]:
# Read the CSV file
dfa = pd.read_csv('geocoded_hotels.csv')

In [3]:
dfa.head()

,hotel_id,hotel_name,chain_id,latitude,longitude,city,country,state,county,suburb,postcode,road,house_number
0,391,Extended Stay America - Fairbanks - Old Airpor...,72,64.83538,-147.82330,Fairbanks,United States,Alaska,Fairbanks North Star,NaN,99709,Old Airport Road,4580
1,392,Hilton Hangzhou Qiandao Lake Resort,3,29.60819,119.07290,淳安县,中国,浙江省,NaN,千岛湖镇,NaN,环湖北路,NaN
2,393,Taj Lands End,-1,19.04391,72.81879,Mumbai Suburban,India,Maharashtra,NaN,Zone 3,400035,Byramji Jeejeebhoy Road,NaN
3,395,Cambridge Suites Hotel Sydney,-1,46.13663,-60.19551,NaN,Canada,Nova Scotia,Cape Breton Regional Municipality,NaN,B1P 5G8,Esplanade,356
4,396,Tamanu Beach,14,-18.84213,-159.78794,NaN,Kūki ʻĀirani,Aitutaki,NaN,NaN,NaN,Main Road,NaN

In [4]:
dfa.columns

Index(['hotel_id', 'hotel_name', 'chain_id', 'latitude', 'longitude', 'city',
       'country', 'state', 'county', 'suburb', 'postcode', 'road',
       'house_number'],
      dtype='object')

In [5]:
dfa.shape

(20000, 13)

In [6]:
import os
import pandas as pd

# 1. Get the Current Directory
current_directory = os.getcwd()

# 2. Construct the Full Path to the CSV Files
path_1 = os.path.join(current_directory, 'dataset', 'test_set.csv')
path_2 = os.path.join(current_directory, 'dataset', 'train_set.csv')

# 3. Load the datasets
test_set = pd.read_csv(path_1)
train_set = pd.read_csv(path_2, header=None)

# 4. Add column names to the train set
columns = ['image_id', 'hotel_id', 'image_url', 'image_source', 'upload_timestamp']
train_set.columns = columns

# 5. Select the specified columns (although they should already match)
test_set_selected = test_set[columns]
train_set_selected = train_set[columns]

# 6. Append/Merge the datasets
merged_dataset = pd.concat([test_set_selected, train_set_selected], ignore_index=True)

In [7]:
merged_dataset

,image_id,hotel_id,image_url,image_source,upload_timestamp
0,2587571,79733,https://traffickcam.com/images/2017/4/20160304...,traffickcam,3/4/16 23:35
1,2587572,79733,https://traffickcam.com/images/2017/4/20160304...,traffickcam,3/4/16 23:35
2,2587573,79733,https://traffickcam.com/images/2017/4/20160304...,traffickcam,3/4/16 23:35
3,2587574,79733,https://traffickcam.com/images/2017/4/20160304...,traffickcam,3/4/16 23:35
4,2587796,88725,https://traffickcam.com/images/2017/6/20160531...,traffickcam,5/31/16 19:23
...,...,...,...,...,...
1140381,9484584,478252,https://i.travelapi.com/hotels/13000000/129900...,travel_website,2019-12-24 21:10:28
1140382,9484585,478252,https://i.travelapi.com/hotels/13000000/129900...,travel_website,2019-12-24 21:10:28
1140383,9484586,478252,https://i.travelapi.com/hotels/13000000/129900...,travel_website,2019-12-24 21:10:28
1140384,9484587,478252,https://i.travelapi.com/hotels/13000000/129900...,travel_website,2019-12-24 21:10:28
1140385,9484588,478252,https://i.travelapi.com/hotels/13000000/129900...,travel_website,2019-12-24 21:10:28

In [8]:
merged_dataset.columns

Index(['image_id', 'hotel_id', 'image_url', 'image_source',
       'upload_timestamp'],
      dtype='object')

In [9]:
# Ensure 'hotel_id' is a string type for consistent merging (if it's not already)
merged_dataset['hotel_id'] = merged_dataset['hotel_id'].astype(str)
dfa['hotel_id'] = dfa['hotel_id'].astype(str)

In [10]:
# Merge the dataframes on 'hotel_id'
final_merged_dataset = pd.merge(merged_dataset, dfa, on='hotel_id', how='left')

In [11]:


# Assuming final_merged_dataset is already loaded as a dataframe

# Filter rows where both latitude and longitude are not null
filtered_final_merged_dataset = final_merged_dataset.dropna(subset=['latitude', 'longitude'])

In [12]:
filtered_final_merged_dataset

,image_id,hotel_id,image_url,image_source,upload_timestamp,hotel_name,chain_id,latitude,longitude,city,country,state,county,suburb,postcode,road,house_number
12,2587885,435,https://traffickcam.com/images/2017/7/20160615...,traffickcam,6/15/16 3:50,Sunriver Resort - Destination Hotels & Resorts,-1.0,43.87388,-121.44537,NaN,United States,Oregon,Deschutes County,NaN,97707,Center Drive,17600
13,2587886,435,https://traffickcam.com/images/2017/7/20160615...,traffickcam,6/15/16 3:50,Sunriver Resort - Destination Hotels & Resorts,-1.0,43.87388,-121.44537,NaN,United States,Oregon,Deschutes County,NaN,97707,Center Drive,17600
14,2587887,435,https://traffickcam.com/images/2017/7/20160615...,traffickcam,6/15/16 3:50,Sunriver Resort - Destination Hotels & Resorts,-1.0,43.87388,-121.44537,NaN,United States,Oregon,Deschutes County,NaN,97707,Center Drive,17600
15,2587888,435,https://traffickcam.com/images/2017/7/20160615...,traffickcam,6/15/16 3:50,Sunriver Resort - Destination Hotels & Resorts,-1.0,43.87388,-121.44537,NaN,United States,Oregon,Deschutes County,NaN,97707,Center Drive,17600
22,2588010,15824,https://traffickcam.com/images/2017/7/20160623...,traffickcam,6/23/16 14:01,Comfort Inn And Suites Ardmore,88.0,34.17222,-97.16366,Ardmore,United States,Oklahoma,Carter County,NaN,73401,Railway Express,410
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
512838,6539398,27369,https://i.travelapi.com/hotels/1000000/850000/...,travel_website,2019-12-19 07:36:57,Scenic Hotel Auckland,-1.0,-36.85312,174.76368,Auckland,New Zealand / Aotearoa,Auckland,NaN,City Centre,1010,Airedale Street,NaN
512839,6539399,27369,https://i.travelapi.com/hotels/1000000/850000/...,travel_website,2019-12-19 07:36:57,Scenic Hotel Auckland,-1.0,-36.85312,174.76368,Auckland,New Zealand / Aotearoa,Auckland,NaN,City Centre,1010,Airedale Street,NaN
512840,6539400,27369,https://i.travelapi.com/hotels/1000000/850000/...,travel_website,2019-12-19 07:36:57,Scenic Hotel Auckland,-1.0,-36.85312,174.76368,Auckland,New Zealand / Aotearoa,Auckland,NaN,City Centre,1010,Airedale Street,NaN
512841,6539401,27369,https://i.travelapi.com/hotels/1000000/850000/...,travel_website,2019-12-19 07:36:57,Scenic Hotel Auckland,-1.0,-36.85312,174.76368,Auckland,New Zealand / Aotearoa,Auckland,NaN,City Centre,1010,Airedale Street,NaN
512842,6539402,27369,https://i.travelapi.com/hotels/1000000/850000/...,travel_website,2019-12-19 07:36:57,Scenic Hotel Auckland,-1.0,-36.85312,174.76368,Auckland,New Zealand / Aotearoa,Auckland,NaN,City Centre,1010,Airedale Street,NaN

In [41]:
# Select rows where hotel_id is 391 in dfa
filtered_final_merged_dataset[filtered_final_merged_dataset['hotel_id'] == "391"]

,image_id,hotel_id,image_url,image_source,upload_timestamp,hotel_name,chain_id,latitude,longitude,city,country,state,county,suburb,postcode,road,house_number
60801,6500881,391,https://i.travelapi.com/hotels/1000000/610000/...,travel_website,2019-12-19 06:44:23,Extended Stay America - Fairbanks - Old Airpor...,72.0,64.83538,-147.8233,Fairbanks,United States,Alaska,Fairbanks North Star,NaN,99709,Old Airport Road,4580
60802,6500882,391,https://i.travelapi.com/hotels/1000000/610000/...,travel_website,2019-12-19 06:44:23,Extended Stay America - Fairbanks - Old Airpor...,72.0,64.83538,-147.8233,Fairbanks,United States,Alaska,Fairbanks North Star,NaN,99709,Old Airport Road,4580
60803,6500883,391,https://i.travelapi.com/hotels/1000000/610000/...,travel_website,2019-12-19 06:44:23,Extended Stay America - Fairbanks - Old Airpor...,72.0,64.83538,-147.8233,Fairbanks,United States,Alaska,Fairbanks North Star,NaN,99709,Old Airport Road,4580
60804,6500884,391,https://i.travelapi.com/hotels/1000000/610000/...,travel_website,2019-12-19 06:44:23,Extended Stay America - Fairbanks - Old Airpor...,72.0,64.83538,-147.8233,Fairbanks,United States,Alaska,Fairbanks North Star,NaN,99709,Old Airport Road,4580
60805,6500885,391,https://i.travelapi.com/hotels/1000000/610000/...,travel_website,2019-12-19 06:44:23,Extended Stay America - Fairbanks - Old Airpor...,72.0,64.83538,-147.8233,Fairbanks,United States,Alaska,Fairbanks North Star,NaN,99709,Old Airport Road,4580
60806,6500886,391,https://i.travelapi.com/hotels/1000000/610000/...,travel_website,2019-12-19 06:44:23,Extended Stay America - Fairbanks - Old Airpor...,72.0,64.83538,-147.8233,Fairbanks,United States,Alaska,Fairbanks North Star,NaN,99709,Old Airport Road,4580
60807,6500887,391,https://i.travelapi.com/hotels/1000000/610000/...,travel_website,2019-12-19 06:44:23,Extended Stay America - Fairbanks - Old Airpor...,72.0,64.83538,-147.8233,Fairbanks,United States,Alaska,Fairbanks North Star,NaN,99709,Old Airport Road,4580

In [14]:
filtered_final_merged_dataset.to_csv("hotel_multimodal.csv", index=False)

The coordinates of Genova, Italy are: Latitude: 44.40726, Longitude: 8.9338624

In [19]:
import pandas as pd
import os

# File Path:
current_directory = os.getcwd()
csv_file_path = os.path.join(current_directory, 'backup' ,'hotel_info.csv')

# Function to read a CSV file from the specified starting index:
def read_csv_from_row(csv_file, start_index=20001, chunksize=50000):
    """
    Reads a CSV file from a given start_index, in chunks to optimize memory usage.
    
    Args:
        csv_file (str): Path to the CSV file.
        start_index (int): Row index to start reading from (default is 20000).
        chunksize (int): Number of rows to read at a time (default is 1000).

    Yields:
        pd.DataFrame: A DataFrame containing a chunk of the data.
    """

    with pd.read_csv(csv_file, header=None, skiprows=start_index, chunksize=chunksize) as reader: 
        for chunk in reader:  
            chunk.columns = pd.read_csv(csv_file, nrows=0).columns
            yield chunk  

# Usage:
for df_chunk in read_csv_from_row(csv_file_path):
    # Process each chunk (df_chunk) here 
    print(df_chunk.head())

   hotel_id                            hotel_name  chain_id  latitude  \
0     27373  Holiday Inn Express & Suites Seymour        92  38.95901
1     27374             The Pines Inn Lake Placid        -1  44.29271
2     27375                           Royal Plaza        -1  50.07825
3     27376            Motel 6 - Jacksonville  AR        75  34.88638
4     27377       Novum Hotel Eleazar City Center        -1  53.55368

   longitude
0  -85.84648
1  -73.98920
2   14.43217
3  -92.10823
4   10.00980

In [18]:
df_chunk.head()

,hotel_id,hotel_name,chain_id,latitude,longitude
0,27369,Scenic Hotel Auckland,-1,-36.85312,174.76368
1,27373,Holiday Inn Express & Suites Seymour,92,38.95901,-85.84648
2,27374,The Pines Inn Lake Placid,-1,44.29271,-73.98920
3,27375,Royal Plaza,-1,50.07825,14.43217
4,27376,Motel 6 - Jacksonville AR,75,34.88638,-92.10823

In [26]:
import pandas as pd
import os

# File Path:
current_directory = os.getcwd()
csv_file_path = os.path.join(current_directory, 'backup', 'hotel_info.csv')

# Function to read a CSV file from the specified starting index:
def read_csv_from_row(csv_file, start_index=20001):
    """
    Reads a CSV file from a given start_index while keeping the header.
    
    Args:
        csv_file (str): Path to the CSV file.
        start_index (int): Row index to start reading from (default is 20001).

    Returns:
        pd.DataFrame: A DataFrame containing the data from the specified start index.
    """
    return pd.read_csv(csv_file, skiprows=range(1, start_index))

# Usage:
df_chunk = read_csv_from_row(csv_file_path)

In [27]:
df_chunk

,hotel_id,hotel_name,chain_id,latitude,longitude
0,27373,Holiday Inn Express & Suites Seymour,92,38.95901,-85.84648
1,27374,The Pines Inn Lake Placid,-1,44.29271,-73.98920
2,27375,Royal Plaza,-1,50.07825,14.43217
3,27376,Motel 6 - Jacksonville AR,75,34.88638,-92.10823
4,27377,Novum Hotel Eleazar City Center,-1,53.55368,10.00980
...,...,...,...,...,...
29995,24274,Hotel Primus Valencia,-1,39.45768,-0.34541
29996,479422,Villa Nautilus,-1,20.20078,-87.45798
29997,354725,Arena Resort,-1,12.67615,101.30842
29998,292795,Indigo Hotel Restaurant & Bar,-1,6.43197,3.43206
29999,478252,El Gran Escape,-1,21.21011,-86.71790